<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../js/script.js"></script>

</head>
<body>
    <header id="header">
        <div class="head-inner">
            <h1 class="logo"><a href="../index.html"></a></h1>
            <div class="util-box">
                <ul>
                    <li><a class="abtn abtn-gray" href="../member/join.html">회원가입</a></li>
                    <li><a class="abtn abtn-mint" href="../member/login.html">로그인</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- // header -->
    
    <nav id="gnb">
        <ul>
            <li><a href="../magazine/magazine_list.html">매거진</a></li>
            <li><a href="../places/place-by-loc.html">지역별</a></li>
            <li><a href="../places/palce-by-cate.html">카테고리별</a></li>
        </ul>
    </nav>
    <!-- // nav -->


    <main class="mypage-page">
        <div class="content-wrap">
                <div class="tit-sect tac">
                    <div class="container">
                        <h2 class="sect-tit mb30">비밀번호 찾기 😵</h2>
                    </div>
                </div>

                <div class="container">
                    <form class="form-horizontal">
                        <div class="form-group">
                          <label for="inputId3" class="col-sm-2 control-label">아이디</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputId3" placeholder="ID">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputNum3" class="col-sm-2 control-label">주민번호</label>
                          <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputNum3" placeholder="text">
                          </div>
                        </div>
                          <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">확인</button>
                            <button type="submit" class="btn btn-default">취소</button>
                              <button type="submit" class="btn btn-defalut"><a href="/dept/login.html">돌아가기</a></button>
                          </div>
                        </div>
                    </form>  
                      
                       <!-- -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">아이디 찾기</h4>
                            </div>
                            <div class="modal-body">
                              귀하의 비밀번호는 ... 입니다.
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">
                              확인
                                </button>
                            </div>
                          </div>
                        </div>
                    </div> 
                </div>



        </div>
        <!-- // content-wrap  -->

    </main>
    <!-- // main -->


    <footer id="footer">
    <div class="container">
        <div class="foot-info-link">
            <p>&copy; 2021 OFFLineTeam All Rights Reserved.</p>
        </div>

    </div>
    </footer>
    <!-- // footer -->




</body>
</html>