.clear{clear: both;}
.margin-l{margin-left:15px;}
.margin-t{margin-top:20px;}
.margin-r{margin-right:20px;}
.margin-b{margin-bottom:20px;}
.btn-margin{margin:0px 5px;}
#nomargin{margin:0px;}


/* place 페이지들 스타일 */
.place-detail-table {margin-top: 40px;}
.place-detail-table > div {
	display: flex; 
	flex-wrap: wrap; 
	margin-bottom: 10px; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	}
.place-detail-table > div > span {
	width: 200px; 
	padding: 15px; 
	font-weight: 500; 
	background: #f5f5f5; 
	text-align: center;
}
.place-detail-table > div > span + p {
	width: calc(100% - 200px); 
	padding: 15px; 
	margin: 0;
}

.btn-box {
	text-align: right;
	margin: 30px 0 80px;
}


