<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../js/script.js"></script>

</head>
<body>
    <header id="header">
        <div class="head-inner">
            <h1 class="logo"><a href="../index.html"></a></h1>
            <div class="util-box">
                <ul>
                    <li><a class="abtn abtn-gray" href="../member/join.html">회원가입</a></li>
                    <li><a class="abtn abtn-mint" href="../member/login.html">로그인</a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- // header -->
    
    <nav id="gnb">
        <ul>
            <li><a href="../magazine/magazine_list.html">매거진</a></li>
            <li><a href="../places/place-by-loc.html">지역별</a></li>
            <li><a href="../places/palce-by-cate.html">카테고리별</a></li>
        </ul>
    </nav>
    <!-- // nav -->

    <div class="m-menu-btn">
        <div>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="mGnb">
        <div>
            <ul>
                <li><a href="../magazine/magazine_list.html">매거진</a></li>
                <li><a href="../places/place-by-loc.html">지역별</a></li>
                <li><a href="../places/palce-by-cate.html">카테고리별</a></li>
            </ul>
        </div>
    </div>
     <!-- // mobile-menu -->



    <main class="place-loc-page">
        <div class="content-wrap">
            <div class="top-banr-sect">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">지역별</li>
                    </ol>
                    </ol>
                    <div class="page-header mb40">
                        <h2 class="sect-tit mb30">지역별 추천 PLACE</h2>
                        <p class="sect-desc mb10">오늘은 거기서 보자! 👇</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- // top-banr-sect -->

            <div class="map-warp">
                <div class="map-controll-box">
                    <div class="around-btn">
                        <button>📌 내 주변 보기</button>
                    </div>
                    <div class="option">
                        <div>
                            <form onsubmit="searchPlaces(); return false;">
                                <input type="text" placeholder="주소를 검색하세요" value="강남" id="keyword" size="15"> 
                                <button type="submit">검색 🔎</button> 
                            </form>
                        </div>
                    </div>
                </div>

                <div class="map_wrap">
                    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                    <div id="menu_wrap">
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>
                </div>
            
                <!-- 
                    == 아래 맵 스트립트 코드정리 필요 ==
                    기능 1) 검색한 주소에 대한 리스트 노출 -> 지금은 카카오맵에 등록된 데이터 기준으로 검색되는데 우리는 우리가 관리자에서 등록한 데이터가 리스트화되도록 수정 필요
                    기능 2) 내 주변보기 클릭 시 현재 내위치로 지도의 중심좌표 이동

                    * 인포윈도우에 링크 추가, 좌측리스트에도 링크 추가해서 클릭 시 해당 장소 상세보기 페이지로 이동하도록 -> 그러면 데이터 뽑아올때 해당장소 상세페이지 url를 받아와야함
                -->
                <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e5f5bb9115d812a34ed32b190bd82edf&libraries=services"></script>
                <script>
                    // 마커를 담을 배열입니다
                    var markers = [];
                    
                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                        mapOption = {
                            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };  
                    
                    // 지도를 생성합니다    
                    var map = new kakao.maps.Map(mapContainer, mapOption); 
                    
                    // 장소 검색 객체를 생성합니다
                    var ps = new kakao.maps.services.Places();  
                    
                    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
                    var infowindow = new kakao.maps.InfoWindow({zIndex:1});
                    
                    // 키워드로 장소를 검색합니다
                    searchPlaces();
                    
                    // 키워드 검색을 요청하는 함수입니다
                    function searchPlaces() {
                    
                        var keyword = document.getElementById('keyword').value;
                    
                        if (!keyword.replace(/^\s+|\s+$/g, '')) {
                            alert('키워드를 입력해주세요!');
                            return false;
                        }
                    
                        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
                        ps.keywordSearch( keyword, placesSearchCB); 
                    }
                    
                    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
                    function placesSearchCB(data, status, pagination) {
                        if (status === kakao.maps.services.Status.OK) {
                    
                            // 정상적으로 검색이 완료됐으면
                            // 검색 목록과 마커를 표출합니다
                            displayPlaces(data);
                    
                            // 페이지 번호를 표출합니다
                            displayPagination(pagination);
                    
                        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
                    
                            alert('검색 결과가 존재하지 않습니다.');
                            return;
                    
                        } else if (status === kakao.maps.services.Status.ERROR) {
                    
                            alert('검색 결과 중 오류가 발생했습니다.');
                            return;
                    
                        }
                    }
                    
                    // 검색 결과 목록과 마커를 표출하는 함수입니다
                    function displayPlaces(places) {
                    
                        var listEl = document.getElementById('placesList'), 
                        menuEl = document.getElementById('menu_wrap'),
                        fragment = document.createDocumentFragment(), 
                        bounds = new kakao.maps.LatLngBounds(), 
                        listStr = '';
                        
                        // 검색 결과 목록에 추가된 항목들을 제거합니다
                        removeAllChildNods(listEl);
                    
                        // 지도에 표시되고 있는 마커를 제거합니다
                        removeMarker();
                        
                        for ( var i=0; i<places.length; i++ ) {
                    
                            // 마커를 생성하고 지도에 표시합니다
                            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                                marker = addMarker(placePosition, i), 
                                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다
                    
                            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                            // LatLngBounds 객체에 좌표를 추가합니다
                            bounds.extend(placePosition);
                    
                            // 마커와 검색결과 항목에 mouseover 했을때
                            // 해당 장소에 인포윈도우에 장소명을 표시합니다
                            // mouseout 했을 때는 인포윈도우를 닫습니다
                            (function(marker, title) {
                                kakao.maps.event.addListener(marker, 'mouseover', function() {
                                    displayInfowindow(marker, title);
                                });
                    
                                kakao.maps.event.addListener(marker, 'mouseout', function() {
                                    infowindow.close();
                                });
                    
                                itemEl.onmouseover =  function () {
                                    displayInfowindow(marker, title);
                                };
                    
                                itemEl.onmouseout =  function () {
                                    infowindow.close();
                                };
                            })(marker, places[i].place_name);
                    
                            fragment.appendChild(itemEl);
                        }
                    
                        // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
                        listEl.appendChild(fragment);
                        menuEl.scrollTop = 0;
                    
                        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                        map.setBounds(bounds);
                    }
                    
                    // 검색결과 항목을 Element로 반환하는 함수입니다
                    function getListItem(index, places) {
                    
                        var el = document.createElement('li'),
                        itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                                    '<div class="info">' +
                                    '   <h5>' + places.place_name + '</h5>';
                    
                        if (places.road_address_name) {
                            itemStr += '    <span>' + places.road_address_name + '</span>' +
                                        '   <span class="jibun gray">' +  places.address_name  + '</span>';
                        } else {
                            itemStr += '    <span>' +  places.address_name  + '</span>'; 
                        }
                                    
                        itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                                    '</div>';           
                    
                        el.innerHTML = itemStr;
                        el.className = 'item';
                    
                        return el;
                    }
                    
                    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
                    function addMarker(position, idx, title) {
                        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
                            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
                            imgOptions =  {
                                spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                                spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
                            },
                            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                                marker = new kakao.maps.Marker({
                                position: position, // 마커의 위치
                                image: markerImage 
                            });
                    
                        marker.setMap(map); // 지도 위에 마커를 표출합니다
                        markers.push(marker);  // 배열에 생성된 마커를 추가합니다
                    
                        return marker;
                    }
                    
                    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
                    function removeMarker() {
                        for ( var i = 0; i < markers.length; i++ ) {
                            markers[i].setMap(null);
                        }   
                        markers = [];
                    }
                    
                    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
                    function displayPagination(pagination) {
                        var paginationEl = document.getElementById('pagination'),
                            fragment = document.createDocumentFragment(),
                            i; 
                    
                        // 기존에 추가된 페이지번호를 삭제합니다
                        while (paginationEl.hasChildNodes()) {
                            paginationEl.removeChild (paginationEl.lastChild);
                        }
                    
                        for (i=1; i<=pagination.last; i++) {
                            var el = document.createElement('a');
                            el.href = "#";
                            el.innerHTML = i;
                    
                            if (i===pagination.current) {
                                el.className = 'on';
                            } else {
                                el.onclick = (function(i) {
                                    return function(e) {
                                        e.preventDefault();
                                        pagination.gotoPage(i);
                                    }
                                })(i);
                            }
                    
                            fragment.appendChild(el);
                        }
                        paginationEl.appendChild(fragment);
                    }
                    
                    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
                    // 인포윈도우에 장소명을 표시합니다
                    function displayInfowindow(marker, title) {
                        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';
                    
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                    }
                    
                    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
                    function removeAllChildNods(el) {   
                        while (el.hasChildNodes()) {
                            el.removeChild (el.lastChild);
                        }
                    }




                    // ======= 내위치 클릭 시 내 위치로 지도마커 이동
                    $('.around-btn button').on('click', function(){

                        if (navigator.geolocation) {
                            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                            navigator.geolocation.getCurrentPosition(function(position) {
                                
                                var lat = position.coords.latitude, // 위도
                                    lon = position.coords.longitude; // 경도
                                
                                var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                                    message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                                
                                // 마커와 인포윈도우를 표시합니다
                                displayMarker(locPosition, message);
                                    
                            });
                            
                        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
                            
                            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
                                message = 'geolocation을 사용할수 없어요..'
                                
                            displayMarker(locPosition, message);
                        }


                        function displayMarker(locPosition, message) {

                            // 마커를 생성합니다
                            var marker = new kakao.maps.Marker({  
                                map: map, 
                                position: locPosition
                            }); 

                            var iwContent = message, // 인포윈도우에 표시할 내용
                                iwRemoveable = true;

                            // 인포윈도우를 생성합니다
                            var infowindow = new kakao.maps.InfoWindow({
                                content : iwContent,
                                removable : iwRemoveable
                            });

                            // 인포윈도우를 마커위에 표시합니다 
                            infowindow.open(map, marker);

                            // 지도 중심좌표를 접속위치로 변경합니다
                            map.setCenter(locPosition);
                        }


                    });

                </script>
            </div>
            <!-- // map-warp -->



        </div>
        <!-- // content-wrap  -->

    </main>
    <!-- // main -->


<footer id="footer">
<div class="container">
    <div class="foot-info-link">
        <p>&copy; 2021 OFFLineTeam All Rights Reserved.</p>
    </div>

</div>
</footer>
<!-- // footer -->


</body>
</html>