<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.there.member.model.MemberDao">

	<select id="selectAll" resultType="mbrbean">
	select * from member order by member_idx desc
	</select>
	
	<select id="selectOne" resultType="mbrbean">
	select * from member where member_id=#{val}
	</select>
	
	<update id="insertOne" parameterType="mbrbean">
	insert into member (member_id, member_pw, member_name, member_pwans, member_tel, member_email) 
	values (#{member_id}, #{member_pw}, #{member_name}, #{member_pwans}, #{member_tel}, #{member_email})
	</update>
	
	<update id="updateOne" parameterType="mbrbean">
	update member set member_pw=#{member_pw},member_name=#{member_name},member_tel=#{member_tel},member_email=#{member_email} where member_id=#{member_id}
	</update>
	
	<update id="deleteOne" parameterType="mbrbean">
	update member set member_state=1 where member_id=#{val}
	</update>
	
	<select id="myMzIdxList" resultType="int">
	select mzlikes_magazineidx AS magazine_idx from mzlikes where mzlikes_memberid=#{val} order by mzlikes_date desc
	</select>
	
	<select id="myPlIdxList" resultType="int">
	select placelikes_placeidx AS place_idx from placelikes where placelikes_memberid=#{val} order by placelikes_date desc
	</select>
	
	<select id="myRvList" resultType="rvbean">
	SELECT * FROM review WHERE review_memberid='user01' ORDER BY review_date DESC;
	</select>
	
	<select id="isIdDuplicate" resultType="int">
	SELECT COUNT(*) FROM member WHERE member_id=#{val}
	</select>
	
	<select id="isEmailDuplicate" resultType="int">
	SELECT COUNT(*) FROM member WHERE member_email=#{val}
	</select>
	
	<select id="isTelDuplicate" resultType="int">
	SELECT COUNT(*) FROM member WHERE member_tel=#{val}
	</select>
	
	<select id="getId" resultType="string">
	SELECT member_id FROM member WHERE member_name=#{member_name} AND member_tel=#{member_tel}
	</select>
	
	<select id="getPwans" resultType="string">
	SELECT member_pwans FROM member WHERE member_id=#{member_id} AND member_tel=#{member_tel}
	</select>
	
	<select id="isNewEmailDuplicate" resultType="int">
	SELECT COUNT(*) FROM member WHERE member_email=#{member_email} AND member_id!=#{member_id}
	</select>
	
	<select id="isNewTelDuplicate" resultType="int">
	SELECT COUNT(*) FROM member WHERE member_tel=#{member_tel} AND member_id!=#{member_id}
	</select>
	
	<update id="updatePwans">
	UPDATE member SET member_pwans=#{member_pwans} WHERE member_id=#{member_id}
	</update>
	
	<update id="rejoin">
	UPDATE member SET member_state=0 WHERE (member_id=#{member_id} AND member_pw=#{member_pw}) OR (member_id=#{member_id} AND member_pwans=#{member_pw})
	</update>
	
</mapper>