<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.there.mzbbs.model.MzbbsDao">
	<select id="selectAll" resultType="mzbean">
	select * from magazine order by magazine_idx desc
	</select>

	<select id="selectOne" resultType="mzbean">
	select * from magazine where magazine_idx=#{val}
	</select>

	<update id="insertOne" parameterType="mzbean">
	insert into magazine (magazine_subject,magazine_date,magazine_viewcnt,magazine_content,magazine_thumb,magazine_hashtag) values (#{magazine_subject},now(),0,#{magazine_content},#{magazine_thumb},#{magazine_hashtag})
	</update>

	<update id="updateOne" parameterType="mzbean">
	update magazine set magazine_subject=#{magazine_subject}, magazine_content=#{magazine_content}, magazine_thumb=#{magazine_thumb}, magazine_hashtag=#{magazine_hashtag} where magazine_idx=#{magazine_idx}
	</update>
	
	<update id="updateOneWithoutThumb" parameterType="mzbean">
	update magazine set magazine_subject=#{magazine_subject}, magazine_content=#{magazine_content}, magazine_hashtag=#{magazine_hashtag} where magazine_idx=#{magazine_idx}
	</update>

	<update id="updateViewCnt" parameterType="int">
	update magazine set magazine_viewcnt=magazine_viewcnt+1 where magazine_idx=#{val}
	</update>

	<delete id="deleteOne" parameterType="int">
	delete from magazine where magazine_idx=#{val}
	</delete>
</mapper>